h2 {
  font-size:17px;
  margin:8px 0px;
}
h3 {
  font-size:14px;
  margin:6px 0px;
}
h4 {
  font-size:14px;
  margin:4px 0px;
}
h5 {
  font-size:13px;
  margin:4px 0px;
}
* {
  font-size:11px;
  color:black;
}
p {
  margin:3px 0px;
}
.ui-state-default , .ui-widget-content{
  font-size:11px;
  font-weight:normal;
  color:#000;
}

.ui-widget-content ,.ui-state-default {
  background-image:none;
  border:none;
}

.ui-selected { background: #F39814; color: white; }
.ui-selecting { background: #FECA40; }

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color:#E0803A;
}
.ui-state-default a:hover {
  color:#FF9242;
  background-color:#CDD1BB;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
}

.unselectable {
  cursor:default;
}

#tag_selector .tag-box.ui-selected {
  background: #F39814;
}

.selected-box {
  background: #F39814;
}

.selected-box * {
  color:#FFF;
}

.audiomodel-box {
  position:relative;
  padding-left:5px;
}
.audiofile_length {
  float:right;
}

#header .title {
  margin: 0;
  padding: 8px 10px;
  color: #EEE;
  border-left: 1px solid #404040;
  border-right: 1px solid #303030;
  position: relative;
  float: left;
  margin: 0 0 0 -20px;
  padding-left: 20px;
  padding-right: 20px;
}

#header {
  color: #eee;
  background: #333;
  background: -moz-linear-gradient(top, #444, #333);
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  padding: 0 20px;
  width: 100%;
  height: 30px;
  font-size: 11px;
  line-height: 14px;
  font-weight: bold;
}

.audiofileform p {
  display:inline;
}

#audiofile_player {
  float:right;
}

.selector {
  z-index:10;
  position:fixed;
  top:30px;
}

.selector_container {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  height:100%;
  top:0;
  position:fixed;
}

.track_selector_align {
  width:200px;
  left:130px;
}

#track_selector_container {
  padding-top:110px;
  padding-bottom:90px;
}


#track_selector_header {
  height:80px;
}

#track_selector_footer {
z-index:20;
  height:90px;
  bottom:0;
  position:fixed;
  background-color:#D7DBC4;
  z-index:20;
}

#tag_selector_container {
  padding-top:58px;
  width:129px;
  left:0;
}

#tag_selector_header {
  height:25px;
  width:129px;
  left:0;
}

.subheader {
    border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
    color: #aaa;
    border-left: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    background: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e0e0e0));
    background: -moz-linear-gradient(top, #eee, #e0e0e0);
}

.head_and_foot {
    padding-left:5px;
    padding-right:5px;
}

.selector h4 , .selector p, .selector ul {
  margin-top:4px;
  margin-bottom:4px;
}

#tag_selector {
  overflow-y:auto;
  height:100%;
}

#track_selector {
  overflow-y:auto;
  height:100%;
  width:100%;
}

#tag_selector ul, #track_selector ul {
  padding:0;
}

.list_container ul li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e0e0e0;
  padding-left:5px;
  background-color:white;
}

ul li .description .mdesc {
  color: #208AAE;
  font-weight:700;
  font-size:12.2px;
}

ul li .description .mlength {
  color: #888;
  font-weight:700;
}

/*.audiomodel_actions {
  display:none;
}*/

ul li .description {
  padding-top:4px;
  padding-bottom:4px;
}

.list_container ul li p {
  margin:0;
}

.audiomodel_selector, #audiosource_form_submit, .bbutton {  
  background: #444;
  background: -moz-linear-gradient(top, #666, #444);
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444));
  padding:4px;
  display:inline-block;
  text-align:center;
  margin-bottom:2px;
  margin-left:5px;
  color:white;
  font-weight:bold;
  border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;
}

.audiomodel_selector {
  width:50px;
}

.audiomodel_selected , .audiomodel_selector:active {
  cursor:pointer;
  border-color: transparent;
  background: #309bbf;
  background: -moz-linear-gradient(top, #28a9d4, #208aae);
  background: -webkit-gradient(linear, left top, left bottom, from(#28a9d4), to(#208aae));
}

.audiomodel_selector:hover , #audiosource_form_submit:hover, .bbutton:hover {
  cursor:pointer;
  border-color: transparent;
  background: #309bbf;
  background: -moz-linear-gradient(top, #39bae5, #309bbf);
  background: -webkit-gradient(linear, left top, left bottom, from(#39bae5), to(#309bbf));
}

body {
  background-color:white;
  list-style-type:none;
  font-family: arial, helvetica, sans-serif;
}

.ui-autocomplete {
    max-height:100px;
    overflow-y:auto;
    overflow-x:hidden;
}

#main_container {
  z-index:0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  position:relative;
  padding-left:350px;
  padding-right:20px;
  padding-top:20px;
  top:23px;
  width:100%;
}

.fresh_source_element {
  background-color:#F38630;
  background-image:none;
}

.fresh_source_element a, .fresh_source_element a:link, .fresh_source_element a:visited {
  color:#B36B37;
}

.playlist_box li.to_delete_source_element {
  display:none;
}

#messages {
  position:fixed;
  left:0;
  top:23px;
  z-index:200;
  width:100%;
  min-height:20px;
}

.message {
  margin:5px;
  padding:0;
  background-color:#FA6900;
  border: 1px dashed #BF621F;
}

.edit_div {
  border:4px solid #CDD1BB;
}

.content_div {
  padding:10px;
}

.playlist_box {
  height:300px;
  overflow-y:scroll;
}

.tags_table_container table {
  background-color:white;
}

#uploaded_audiofiles {
  margin:0;
  padding:0;
  list-style-type:none;
  height:100%;
}

#playlist_edit_title {
  margin-top:0;
  padding-top:0;
}
input[type=text] {
  border:1px solid #A8AB99;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
}
#text_selector {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  margin-left:0px;
  width:100%;
}
#modal_menu_hider {
  z-index:2000;
  position:fixed;
  background-color:black;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.7;
  display:none;
}
#modal_menu {
  padding:5px;
  position:fixed;
  z-index:3000;
  top:50%;
  left:50%;
  background-color:white;
  display:none;
}
#modal_menu_titlebar, #modal_menu_content {
  padding:5px;
  margin:5px;
  border:1px dashed gray;
}
#modal_menu_titlebar {
  padding: 0px 5px;
}
#modal_menu_title {
  display:inline-block;
  margin-right:10px;
}
#modal_menu_close {
  display:inline-block;
}
.planning_table {
  width:100%;
  border-collapse:collapse;
  table-layout:fixed;
}
#planning_board {
  top:0;
  left:0;
  height:1440px;
  position:absolute;
}
#planning_board th {
  height:20px;
  padding:0;
}
#planning_board td {
  position: relative;
  vertical-align:top;
  margin:0;
  padding:0;
  border-left:1px solid #BDBDBD;
}
.hours_td { width:5%; }
.day_td { width:13.571428%; }

#planning_board td.hours_td {
  border:0;
  background: #EEE;
}

#main_planning_board_container {
  height:600px;
}
#main_planning_board {
  height:100%;
  overflow-y:scroll;
  overflow-x:hidden;
  position:relative;
  background-color:#F8F8F8;
}
#main_planning_board .grid {
  margin:0;
  border-bottom:1px solid black;
}
#planning_header {
  z-index:5000;
  width:100%;
  border-bottom: 1px solid #BDBDBD;
}
#planning_edit {
  position:relative;
}
.grid_time {
    height:9px;
}
.grid_hour {
    border-bottom:1px solid #777;
    z-index:500;
}
.grid_half {
    border-bottom:1px solid #AAA;
    z-index:500;
}
.grid_tenth {
    border-bottom:1px solid #CCC;
    z-index:500;
}

.grid_showtime {
  height:58px;
  border-bottom: 1px solid #E0E0E0;
  border-top: 1px solid white;
  color: #333;
  text-align: center;
}

.audiofile_proxy {
    background-color:yellow;
    z-index:400;
}

.planning_element {
    margin-left:-1px;
    margin-top:-1px;
    position:absolute;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    border:1px solid #BDBDBD;
    padding-bottom:2px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E3E3E3), to(#D6D6D6));
    background: -moz-linear-gradient(top, #e3e3e3, #d6d6d6);
    z-index:400;
}

.planning_element_container {
  position:relative;
  width:100%;
  height:100%;
}

.planning_element:hover {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D3D3D3), to(#C6C6C6));
    background: -moz-linear-gradient(top, #D3D3D3, #C6C6C6);
    z-index:10000;
}

.planning_element_dragged {
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#28A9D4), to(#208AAE)) !important;
    background: -moz-linear-gradient(top, #28A9D4, #208AAE) !important;
}

.planning_element_container .phead {
  margin:0;
  padding:0;
  width:100%;
  height:10px;
  overflow:hidden;
  background-color:#C5C5C5;
  border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px;
}

.planning_element:hover .phead {
  overflow:visible;
  height:auto;
}

.planning_element_container div span {
  margin-top:-2px;
  padding-left:2px;
  letter-spacing:0px;
  font-size:10px;
}

.planning_element_head, .planning_element_foot {
  background-color:#B69;
  width:100%;
  height:5px;
}
.planning_element_head {
  top:0;
  cursor:n-resize;
}
.planning_element_foot {
  position:absolute;
  bottom:0;
}
.delete_button {
  float:right;
  margin-right:2px;
  padding-top:3px;
  display:inline-block;
  cursor: pointer;
}

.delete_button:hover {
}

.delete_button:active {
}

#planning_show_choices {
  padding-top:12px;
  padding-bottom:12px;
  position:relative;
  left:50%;
  margin-left:-100px;
}

#planning_show_choices .ui-state-default {
  background-color:#DDD; 
}

#planning_show_choices .ui-state-active {
  bottom:0;
  background-color:#FFF; 
}

#track_selector li.planning_active {
  background-color: #C8B;
}
.cat_name {
    font-weight:bold;
    font-size:13px;
    margin-left:5px;
}
.continuous {
  z-index:200;
}
.single {
  z-index:400;
}

/*  typography.css: 
    2009 / vonautomatisch werkstaetten / vonautomatisch.at
------------------------------------------------------------------------------------------------------ */



/*  Headings
------------------------------------------------------------------------------------------------------ */

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    position: relative;
    z-index: 800;
    margin: 26px 0 10px;
    font-size: 16px;
    line-height: 20px;
}
.pretitle + h1 {
    margin-top: 0;
}
h2 {
    font-size: 13px;
}
h3 {
    font-size: 12px;
}
h4, h5 {
    font-size: 11px;
}



/*  Paragraphs
------------------------------------------------------------------------------------------------------ */

.module p.help, 
p.help {
    padding: 5px 0;
    font-size: 10px !important;
    line-height: 12px;
}

p.readonly {
    margin: 0 !important;
    padding: 3px 0 !important;
    color: #666;
    font-size: 12px;
    font-weight: bold;
}

.fb_show + p.help a {
    display: inline-block;
    padding: 3px;
    font-size: 0;
    line-height: 0;
}
.fb_show + p.help a img {
    margin: 0;
    font-size: 0;
    line-height: 0;
}
.container-grid > p:first-child, .container-flexible > p:first-child, 
.container-grid .column > p:first-child, .container-flexible .column > p:first-child {
    margin: 0 0 10px;
}



/*  Links
------------------------------------------------------------------------------------------------------ */

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
a.back {
    font-weight: bold;
}



/*  Listings
------------------------------------------------------------------------------------------------------ */

ul, li {
    list-style-type: none;
}



/*  Blockquote, Pre, Code
------------------------------------------------------------------------------------------------------ */

blockquote {
    margin-left: 2px;
    padding-left: 4px;
    font-size: 11px;
}

code, pre {
    font-size: 11px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

pre.literal-block {
    margin: 10px;
    padding: 6px 8px;
}

hr {
    clear: both;
    margin: 0;
    padding: 0;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
}



/*  Table Typography
------------------------------------------------------------------------------------------------------ */

th.focus, 
td.focus {
    font-weight: bold;
}



/*  RTE (Rich Text Edited)
------------------------------------------------------------------------------------------------------ */

.rte h2.subhead {
    margin: 0;
    font-size: 12px;
}
.rte h3 {
    margin: 10px -10px 10px;
    padding: 7px 10px 6px;
    font-size: 12px !important;
}
.rte h2 + h3 {
    margin-top: -11px !important;
}
.rte h4 {
    margin: 10px 0 0;
    font-size: 12px;
}

.rte p {
    margin: 10px 0;
}
.rte .module p {
    margin: 10px 0;
    padding: 0 10px;
}
.rte > p:first-child {
    margin-top: 0;
}

.rte .group h2 + p, 
.rte .module h2 + p {
    margin: 5px 0;
    padding: 0 10px;
    font-size: 11px;
}

.rte table p {
    margin: 0 !important;
    padding: 0 !important;
}

/*  Workaround for problem reported in django-ticket #11817 */
.rte h2 p, 
.rte h4 p {
    margin: 0 !important;
    padding: 0 !important;
    font-weight: normal;
}
.rte h2 p {
    font-weight: bold !important;
}
.rte h4:empty, 
.rte p:empty, 
.rte hr, 
.rte br:first-child {
    display: none !important;
}

.rte ul, .rte ol {
    margin: 10px 0 0 20px;
    padding: 0 0 0 10px;
    font-weight: normal !important;
}
ul.rte ul, ul.rte ol, 
ol.rte ul, ol.rte ol {
    margin: 0 0 0 20px;
    font-size: 12px;
    line-height: 14px;
}
.rte ul li, .rte ol li {
    margin: 0;
    padding: 0;
}
.rte ul li {
    list-style-type: disc;
}
.rte ol li {
    list-style-type: decimal;
}

.delete-confirmation ul.rte>li {
    padding-bottom: 9px;
    font-weight: bold;
}
.delete-confirmation ul.rte>li:last-child {
    padding-bottom: 0;
}
.delete-confirmation ul.rte>li+li {
    padding-top: 8px !important;
}
.delete-confirmation ul.rte>li>ul {
    margin-top: 2px;
}
.delete-confirmation ul.rte>li>ul>li {
    list-style-type: none;
    margin: 0 0 0 -30px !important;
    padding: 5px 0;
}
.delete-confirmation ul.rte>li>ul>li:last-child {
    padding-bottom: 0;
}
.delete-confirmation ul.rte>li>ul>li>ul>li {
    font-size: 11px;
}

.rte dd ul, .rte dd ol {
    margin-top: 0;
}
.rte blockquote {
    margin: 10px;
}
.rte dl, .rte dt, .rte dd {
    margin: 0;
}
.rte dl {
    padding: 5px 10px;
}
.rte dt {
    font-weight: bold;
}
.rte dd + dt {
    margin-top: 5px;
}



/*  Other Styles
------------------------------------------------------------------------------------------------------ */

.small { font-size: 10px; }
.fw-normal { font-weight: normal; }

.module {
  border: 1px solid #bdbdbd;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  background: #eee;
}
.row {
    margin: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 0;
    border-right: 0;
}
.row.first {
    border-top: 0 !important;
    border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
}
.row.last {
    border-bottom: 0 !important;
    border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;
}
.module .row {
    overflow: hidden;
    padding: 8px 10px;
    line-height: 18px;
    font-weight: normal;
}
.module .row.cells {
    white-space: nowrap;
}
.group h2, 
.module h2 {
  border-bottom: 1px solid #bdbdbd;
  border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px;
  background: #d6d6d6;
  background: -moz-linear-gradient(top, #e3e3e3, #d6d6d6);
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#d6d6d6));
  padding: 6px 10px;
  margin:0px;
}
.span-4 {
    margin-right: 20px;
    width:140px;
}
.column {
    position: relative;
    float: left;
}
.row .span-flexible, 
.row .span-flexible:last-child {
    float: none;
    width: auto;
    margin-right: 0 !important;
}
.module .column label {
  font-weight: bold;
  color: #444;
  display: block;
  padding: 0px 0px 6px;
  white-space: normal;
}
.module .input {
    margin: 0;
    vertical-align: top;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    box-shadow: 0 1px 3px #eaeaea inset; -moz-box-shadow: 0 1px 3px #eaeaea inset; -webkit-box-shadow: 0 1px 3px #eaeaea inset;
    background-color: #fff;
    color: #666;
    border: 1px solid #bbb;
    border-color: #ccc #ddd #ddd #ccc;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
    outline: 0;
    width: 758px;
}

.module textarea {
  height:200px;
}

.module input[type="text"] {
  height: 25px;
}

a, a:active, a:focus {outline: 0;}

img, img:active, img:focus {outline: 0;border:0;}
