h2 {
  font-size:17px;
  margin:8px 0px;
}
h3 {
  font-size:14px;
  margin:6px 0px;
}
h4 {
  font-size:14px;
  margin:4px 0px;
}
h5 {
  font-size:13px;
  margin:4px 0px;
}
* {
  font-size:11px;
  color:black;
}
p {
  margin:3px 0px;
}
.ui-state-default , .ui-widget-content{
  font-size:11px;
  font-weight:normal;
  color:#000;
}

.ui-widget-content ,.ui-state-default {
  background-image:none;
  border:none;
}

.ui-selected { background: #F39814; color: white; }
.ui-selecting { background: #FECA40; }

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color:#E0803A;
}
.ui-state-default a:hover {
  color:#FF9242;
  background-color:#CDD1BB;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
}
.audiomodel_selector .ui-button-text {
    padding: 0.4em 0.5em;
}

.unselectable {
  cursor:default;
}

.audiomodel-box, .tag-box {
  background-color:#E0E4CC;
  padding-left:5px;
}

#tag_selector .tag-box.ui-selected {
  background: #F39814;
}

.selected-box {
  background: #F39814;
}

.selected-box * {
  color:#FFF;
}

.audiomodel-box {
  position:relative;
  padding-left:5px;
}
.audiofile_length {
  float:right;
}

#main_menu h2 {
  margin-top:0;
}

#main_menu {
  margin-top:0;
  z-index:200;
  top:0;
  left:0;
  position:fixed;
  width:100%;
  height:20px;
  background-color:#CDD1BB;
  border-bottom:3px solid #A8AB99;
}

.audiofileform p {
  display:inline;
}

#audiofile_player {
  float:right;
}

.selector {
  z-index:10;
  position:fixed;
  top:23px;
}

.selector_container {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  height:100%;
  top:0;
  position:fixed;
}

.track_selector_align {
  width:200px;
  left:130px;
}

#track_selector_container {
  padding-top:100px;
  padding-bottom:90px;
}


#track_selector_header {
  height:80px;
  background-color:#D7DBC4;
}

#track_selector_footer {
z-index:20;
  height:90px;
  bottom:0;
  position:fixed;
  background-color:#D7DBC4;
  z-index:20;
}

#tag_selector_container {
  padding-top:25px;
  width:129px;
  left:0;
}

#tag_selector_header {
  height:25px;
  width:129px;
  left:0;
  background-color:#D7DBC4;
}

.head_and_foot {
    padding-left:5px;
    padding-right:5px;
}

.selector h4 , .selector p, .selector ul {
  margin-top:4px;
  margin-bottom:4px;
}

#tag_selector {
  overflow-y:auto;
  height:100%;
}

#track_selector {
  overflow-y:auto;
  height:100%;
  width:100%;
}

#tag_selector ul, #track_selector ul {
  padding:0;
}

#tag_selector ul li , #track_selector ul li {
  margin-top:3px;
  margin-bottom:3px;
}

.audiomodel_selector {  
  font-size:12px;
  background-color:#A7DBD8;
  padding:2px;
  display:inline-block;
  width:50px;
  text-align:center;
  margin-bottom:2px;
  margin-left:5px;
  color:#4A6160;
}

.audiomodel_selected {
  background-color:#A1C4C2;
}

body {
  background-color:#E9EDD4;
  list-style-type:none;
  font-family: arial, helvetica, sans-serif;
}

.ui-autocomplete {
    max-height:100px;
    overflow-y:auto;
    overflow-x:hidden;
}

#main_container {
  z-index:0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  position:relative;
  padding-left:340px;
  padding-right:10px;
  padding-top:10px;
  top:23px;
  width:100%;
}

.fresh_source_element {
  background-color:#F38630;
  background-image:none;
}

.fresh_source_element a, .fresh_source_element a:link, .fresh_source_element a:visited {
  color:#B36B37;
}

.playlist_box li.to_delete_source_element {
  display:none;
}

#messages {
  position:fixed;
  left:0;
  top:23px;
  z-index:200;
  width:100%;
  min-height:20px;
}

.message {
  margin:5px;
  padding:0;
  background-color:#FA6900;
  border: 1px dashed #BF621F;
}

.edit_div {
  border:4px solid #CDD1BB;
}

.content_div {
  padding:10px;
}

.playlist_box {
  background-color:white;
  border:4px solid #CDD1BB;
  width:90%;
  height:300px;
  overflow-y:scroll;
}

.tags_table_container table {
  background-color:white;
  border:4px solid #CDD1BB;
}

#uploaded_audiofiles {
  margin:0;
  padding:0;
  list-style-type:none;
  height:100%;
}

#uploaded_audiofiles li {
  margin-top:0px;
  margin-bottom:0px;
  font-size:12px;
}
#uploaded_audiofiles li p {
  margin-top:3px;
  margin-bottom:3px;
}

.columns {
  position:relative;
}

.columns:after {
  content:'';
  display:block;
  clear:both;
}

.audiosource_left_column, .audiosource_right_column{
  float:left;
  width:50%;
}

#playlist_edit_title {
  margin-top:0;
  padding-top:0;
}
input[type=text] {
  border:1px solid #A8AB99;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
}
#text_selector {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  margin-left:0px;
  width:100%;
}
#modal_menu_hider {
  z-index:2000;
  position:fixed;
  background-color:black;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.7;
  display:none;
}
#modal_menu {
  padding:5px;
  position:fixed;
  z-index:3000;
  top:50%;
  left:50%;
  background-color:white;
  display:none;
}
#modal_menu_titlebar, #modal_menu_content {
  padding:5px;
  margin:5px;
  border:1px dashed gray;
}
#modal_menu_titlebar {
  padding: 0px 5px;
}
#modal_menu_title {
  display:inline-block;
  margin-right:10px;
}
#modal_menu_close {
  display:inline-block;
}
.planning_table {
  width:100%;
  border-collapse:collapse;
  table-layout:fixed;
}
#planning_board {
  top:0;
  left:0;
  height:1440px;
  position:absolute;
}
#planning_board th {
  height:20px;
  padding:0;
}
#planning_board td {
  position: relative;
  vertical-align:top;
  margin:0;
  padding:0;
  border-left:1px solid black;
}
.hours_td { width:5%; }
.day_td { width:13.571428%; }
#planning_board td.hours_td {
  background-color:yellow;
  opacity:0.2;
}
#main_planning_board_container {
  padding-top:140px;
  height:600px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
#main_planning_board {
  height:100%;
  overflow-y:scroll;
  position:relative;
  background-color:#F8F8F8;
}
#main_planning_board .grid {
  margin:0;
  border-bottom:1px solid black;
}
#planning_header {
  position:absolute;
  z-index:5000;
  width:100%;
  height:139px;
  border-bottom:4px solid #CDD1BB;
}
#planning_board_header {
    position:absolute;
    bottom:0;
}
#planning_edit {
  position:relative;
}
.grid_time {
    height:9px;
}
.grid_hour {
    border-bottom:1px solid #777;
}
.grid_half {
    border-bottom:1px solid #AAA;
}
.grid_tenth {
    border-bottom:1px solid #CCC;
}
.audiofile_proxy {
    background-color:yellow;
    z-index:400;
}
.planning_element {
    position:absolute;
    background-color:#C7A;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    z-index:400;
    opacity:0.9;
}
.planning_element_container {
  position:relative;
  width:100%;
  height:100%;
}
.planning_element_head, .planning_element_foot {
  background-color:#B69;
  width:100%;
  height:5px;
  display:none;
}
.planning_element_head {
  top:0;
  cursor:n-resize;
}
.planning_element_foot {
  position:absolute;
  bottom:0;
  cursor:s-resize;
}
.delete_button {
  position:absolute;
  bottom:10px;
  right:10px;
  background-color:#D8B;
  color:#947;
}

.delete_button:hover {
  background-color:#F9D;
}

.delete_button:active {
  background-color:#FBF;
}

#planning_show_choices {
  position:absolute;
  bottom:18px;
  left:50%;
  margin-left:-100px;
}

#planning_show_choices .ui-state-default {
  background-color:#DDD; 
}

#planning_show_choices .ui-state-active {
  bottom:0;
  background-color:#FFF; 
}

#track_selector li.planning_active {
  background-color: #C8B;
}
.cat_name {
    font-weight:bold;
    font-size:12px;
    margin-left:5px;
}
