body {
  font-family: arial, helvetica, sans-serif;
}

.playlist_box {
  border:1px solid black;
  width:300px;
  height:400px;
  overflow-y:scroll;
}

#uploaded_audiofiles {
  margin:0;
  padding:0;
  list-style-type:none;
}

#uploaded_audiofiles li {
  margin-top:2px;
  margin-bottom:2px;
  font-size:12px;
}

.ui-selected { background: #F39814; color: white; }
.ui-selecting { background: #FECA40; }

.ui-state-default , .ui-widget-content{
  font-size:11px;
  font-weight:normal;
  color:#000;
}

.unselectable {
  cursor:default;
}

.audiomodel-box {
  position:relative;
}
.audiofile_length {
  position:absolute;
  right:3px;
}

.selector {
  position:fixed;
  top:0;
}

.selector_container {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  height:100%;
  top:0;
  position:fixed;
}

.track_selector_align {
  width:200px;
  left:130px;
}

#track_selector_container {
  padding-top:55px;
  padding-bottom:55px;
  border-right:1px solid black;
}

#track_selector_header {
  height:55px;
  background-color:#CCD;
}

#track_selector_footer {
  height:55px;
  bottom:0;
  position:fixed;
  background-color:#CCD;
}

#tag_selector_container {
  padding-top:25px;
  width:129px;
  left:0;
}

#tag_selector_header {
  height:25px;
  width:129px;
  left:0;
  background-color:#CCD;
}

.selector h4 , .selector p, .selector ul {
  margin-top:4px;
  margin-bottom:4px;
}

#tag_selector {
  overflow-y:auto;
  height:100%;
}

#track_selector {
  overflow-y:auto;
  height:100%;
}

#tag_selector ul, #track_selector ul {
  list-style-type:none;
  padding:0;
}

#tag_selector ul li , #track_selector ul li {
  margin-top:3px;
  margin-bottom:3px;
}

body {
  position:absolute;
  left:400px;
}
