body {
  font-family: arial, helvetica, sans-serif;
}

.playlist_box {
  border:1px solid black;
  width:300px;
  height:400px;
  overflow-y:scroll;
}

#uploaded_audiofiles {
  margin:0;
  padding:0;
  list-style-type:none;
}

#uploaded_audiofiles li {
  margin-top:2px;
  margin-bottom:2px;
  font-size:12px;
}

.ui-selected { background: #F39814; color: white; }
.ui-selecting { background: #FECA40; }

.ui-state-default , .ui-widget-content{
  position:relative;
  font-size:11px;
  font-weight:normal;
  color:#000;
}

.audiofile_length {
  position:absolute;
  right:3px;
}

.selector {
  position:fixed;
  width:200px;
  border-right:1px solid black;
  left:0;
}

#tag_selector_header {
  top:0;
  height:25px;
  background-color:#CCD;
}

#track_selector_header {
  top:35%;
  margin-top:25px;
  height:55px;
  background-color:#CCD;
}

.selector h4 , .selector p, .selector ul {
  margin-top:4px;
  margin-bottom:4px;
}

#tag_selector {
  margin-top:25px;
  overflow-y:auto;
  height:35%;
  top:0;
  border-bottom:4px solid #AAA;
}

#track_selector {
  margin-top:80px;
  overflow-y:auto;
  top:35%;
  height:65%;
}

#tag_selector ul, #track_selector ul {
  list-style-type:none;
  padding:0;
}

#tag_selector ul li , #track_selector ul li {
  margin-top:3px;
  margin-bottom:3px;
}

body {
  position:absolute;
  left:200px;
  margin-left:20px;
}
