<li class="unselectable ui-widget-content audiomodel-box audiosource">
  <input type="hidden" value="<%= audiomodel.id %>"/> 
  <p> <span> <%= audiomodel.title %> </span> 
      <span class="audiofile_length"> <%= format_length(audiomodel.length) %> </span>
  </p>
  <div class="audiosource_actions">
    <a href="<%= audiomodel.form_url %>">Edit</a>
  </div>
</li>
