<form class="audiofileform" action="/audiosources/json/create-audio-file?X-Progress-ID=<%= uuid %>" enctype="multipart/form-data" method="post" >
  <input class="input" type="file" name="file" id="id_file" multiple=""/>
  <input type="submit" value="Envoyer" />
  <div class="progress_bar"></div>
</form>
