<div>
  <form id="audiofile_edit_form" action="" method="post">
    <p><label for="id_artist">Artist:</label> <input id="id_artist" type="text" name="artist" value="" maxlength="200"></p>
    <p><label for="id_tags">Tags:</label> <input id="id_tags" type="text" name="tags" maxlength="300"></p>
  </form>
</div>
