<form class="audiofileform" action="/audiosources/json/create-audio-file" enctype="multipart/form-data" method="post">
  <%= audiofileform %>
  <input type="Submit" value="Envoyer" />
  <div class="progress_bar"></div>
</form>
