<div class="module" id="calendar_edit"> 
  <h2 style="height:23px;">Edition du calendrier
      <span class="bbutton" id="calendar_submit" style="float:right;">Envoyer</span>
  </h2>
    <div class="row">
      <div id="calendar"></div>
    </div>
</div>
