<div id="planning_edit" class="edit_div">
  <div id="planning_header">
    <div id="planning_edit_content" class="content_div">
      <div style="float:left;">
        <p> Nom du planning </p>
        <input type="text" id="planning_title" name="title" value=""/>
        <p>Ajouter des tags</p> <input type="text" id="planning_tags" name="tags" value=""/> 
      </div>
      <div class="tags_table_container" style="margin-left:10px;float:left;"></div>
      <button id="planning_submit" type="button" style="float:right;">Envoyer</button>

      <div id="planning_show_choices" >
        <input type="radio" name="planning_show_radio" id="planning_show_single" checked><label for="planning_show_single">Playlists</label></input>
        <input type="radio" name="planning_show_radio" id="planning_show_continuous"><label for="planning_show_continuous">Megashuffle</label></input>
        <input type="radio" name="planning_show_radio" id="planning_show_jingle"><label for="planning_show_jingle">Jingles</label></input>
      </div>
    </div>
    <table id="planning_board_header" class="planning_table">
      <tr>
        <th class="hours_td"></th>
        <th class="day_td">Lundi</th>
        <th class="day_td">Mardi</th>
        <th class="day_td">Mercredi</th>
        <th class="day_td">Jeudi</th>
        <th class="day_td">Vendredi</th>
        <th class="day_td">Samedi</th>
        <th class="day_td">Dimanche</th>
      </tr>
    </table> 
  </div>
  <div id="main_planning_board_container">
    <div id="main_planning_board">
      <table id="planning_board" class="planning_table">
        <tr>
          <td class="hours_td"></td>
          <td class="day_td"></td>
          <td class="day_td"></td>
          <td class="day_td"></td>
          <td class="day_td"></td>
          <td class="day_td"></td>
          <td class="day_td"></td>
          <td class="day_td"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
