<div id="planning_edit" class="edit_div">
  <div id="planning_header">
    <div id="planning_edit_content" class="content_div">
    </div>
    <table id="planning_board_header" class="planning_table">
      <tr>
        <th>Lundi</th>
        <th>Mardi</th>
        <th>Mercredi</th>
        <th>Jeudi</th>
        <th>Vendredi</th>
        <th>Samedi</th>
        <th>Dimanche</th>
      </tr>
    </table> 
  </div>
  <div id="main_planning_board_container">
    <div id="main_planning_board">
      <table id="planning_board" class="planning_table">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
