<div id="planning_edit" class="edit_div">
  <div id="planning_header">
    <div id="planning_edit_content" class="content_div">
      <div style="float:left;">
        <p> Nom du planning </p>
        <input type="text" id="planning_title" name="title" value=""/>
        <p>Ajouter des tags</p> <input type="text" id="planning_tags" name="tags" value=""/> 
      </div>
      <div class="tags_table_container" style="margin-left:10px;float:left;"></div>
      <button id="planning_submit" type="button" style="float:right;">Envoyer</button>
    </div>
    <table id="planning_board_header" class="planning_table">
      <tr>
        <th>Lundi</th>
        <th>Mardi</th>
        <th>Mercredi</th>
        <th>Jeudi</th>
        <th>Vendredi</th>
        <th>Samedi</th>
        <th>Dimanche</th>
      </tr>
    </table> 
  </div>
  <div id="main_planning_board_container">
    <div id="main_planning_board">
      <table id="planning_board" class="planning_table">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
