<div class="planning_element">
  <div class="planning_element_container">
    <div class="planning_element_head"></div>
    <p><%= audiosource.title %></p>
    <div class="planning_element_foot"></div>
  </div>
</div>
